p{
    color: chocolate; font-style: italic; font-family: 'Times New Roman', Times, serif; font-size: medium;
}
h{
    background-color: black; color: bisque; font-style:strong; width:fit-content ; 
}
